<header>
    <div class="wrapper">
        <h1>Accueil</h1>
        <nav>
            <ul>
                {% for page in site.pages %}
                <li>
                    <a href="https://maximelemolt.github.io/Flatfile/">Accueil</a>
                    <a href="https://maximelemolt.github.io/Flatfile/about">About</a>
                    <a href="https://maximelemolt.github.io/Flatfile/equipe">Equipe</a>
                    <a href="https://maximelemolt.github.io/Flatfile/boutique">Boutique</a>
                    <a href="https://maximelemolt.github.io/Flatfile/blog">Blog</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
