<div class="product">
  <a class="product" href="{{ product.url }}">
    <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>
    <p>{{ product.name }}</p>
  </a>

  <button class="snipcart-add-item"
    data-item-name="{{ product.name }}"
    data-item-name="{{ product.description }}"
    data-item-name="{{ product.dimensions }}"
    data-item-url="{{ site.url }}{{product.url }}"
    data-item-price="{{ product.price }}">
    <img src='data-item-name="{{ product.description }}"' width='100%' alt=''/>
    Buy it for {{ product.price }} $
  </button>
</div>

