<div class="product" style="display:flex;flex-direction:row;">
  <a class="product" href="{{ product.url }}">
    <img width="30%" src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/></a>
    <p>{{ product.name }}</p>
    <p>
      Description: {{ product.description }}
    <br/>
      Dimensions {{ product.dimensions }}
    </p>

  <button class="snipcart-add-item"
    data-item-name="{{ product.name }}"
    data-item-id="{{ product.sku }}"
    data-item-image="{{ product.image }}"
    data-item-url="{{ site.url }}{{product.url }}"
    data-item-price="{{ product.price }}">
    Acheter le pour {{ product.price }} $
  </button>
</div>


